@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap'); /* Bitter */

:root {
  --font-serif: 'Bitter';
  --font-sans-main: 'Roboto';
  --font-sans: 'Open Sans';
  --colour-grey: #999999;
  --colour-white: #cccccc;
  --colour-orange-light: #cc9900;
  --colour-orange-dark: #806000;
}

body {
  max-width: 35em;
  margin: 0 auto;
  padding: 5px;
  font-family: var(--font-serif), serif;
  font-size: 20px;
  line-height: 30px;
  background-color: #1a1a1a;
  color: var(--colour-white);
  line-height: 1.75em;
}

h1, h2, h3 {
  font-family: var(--font-sans-main), sans-serif;
  color: var(--colour-grey);
}

h1 {
  font-size: 3em;
  font-weight: 800;
  font-style: italic;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.9em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.15em
}

a {
  text-decoration: none;
  color: var(--colour-orange-light);
}

a:visited {
  color: var(--colour-orange-dark);
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 4em;
}

footer {
  font-family: var(--font-sans), sans;
  font-size: 0.7em;
  font-weight: 700;
  color: var(--colour-grey);
}

/*--- --- C L A S S E S --- ---*/

.shadow {
  text-shadow: 4px 4px 4px #0d0d0d;
}

.shadow-title {
  text-shadow: 4px 4px 4px #0d0d0d;
  font-weight: 800;
  font-style: italic;
}

.story-date {
  text-shadow: 4px 4px 4px #0d0d0d;
  font-color: var(--colour-grey);
  font-family: var(--font-sans-main);
}
