{% for category in site.categories %}
  {% if page.category == category[0] %}
    <mark class="category-tag"><a href="{% link maths.html %}">{{ category[0] | capitalize }}</a></mark></b>
  {% endif %}
{% endfor %}

{% if post.date %}
  <mark class="category-tag">{{post.date | date_to_string}}</mark>
{% endif %}

{% if page.date %}
<mark class="category-tag">{{page.date | date_to_string}}</mark>
{% endif %}

{% if post.wip %}
  <b><mark class="category-tag">WIP</mark></b>
{% endif %}

{% if page.wip %}
  <b><mark class="category-tag">WIP</mark></b>
{% endif %}

{% if post.repo %}
  <mark class="category-tag"><a href="{{post.repo}}">{{ post.repo_name}}</a></mark>
{% endif %}

{% if page.repo %}
  <mark class="category-tag"><a href="{{page.repo}}">Link to repo</a></mark>
{% endif %}
