@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap'); /* Bitter */
@import "classes.css";

:root {
  --font-serif: 'Bitter';
  --font-sans-main: 'Roboto';
  --font-sans: 'Open Sans';
  --colour-grey: #999999;
  --colour-white: #cccccc;
  --colour-shadow: #0d0d0d;
  --colour-orange-light: #cc9900;
  --colour-orange-dark: #806000;
  --colour-background-grey: #1a1a1a;
}

body {
  max-width: 40em;
  margin: 0 auto;
  font-family: var(--font-serif), serif;
  background-color: var(--colour-background-grey);
  color: var(--colour-white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans-main), sans-serif;
  color: var(--colour-grey);
  font-weight: 800;
}

a {
  text-decoration: none;
  color: var(--colour-orange-light);
}

a:visited {
  color: var(--colour-orange-dark);
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 4em;
}

footer {
  font-family: var(--font-sans), sans;
  font-size: 0.7em;
  font-weight: 700;
  color: var(--colour-grey);
}

hr {
  border-color: var(--colour-grey);
  border-width: 1px;
}

/*--- --- C L A S S E S --- ---*/

.shadow {
  text-shadow: 4px 4px 4px #0d0d0d;
}

.story-date {
  text-shadow: 4px 4px 4px #0d0d0d;
  font-color: var(--colour-grey);
  font-family: var(--font-sans-main);
}
