@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;800;900&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); /* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&display=swap'); /* Bitter */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap'); /* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "classes.css";
@import "code-highlight.css";

:root {
  --font-serif: 'Bitter';
  --font-sans-main: 'Roboto';
  --font-sans: 'Work Sans';
  --colour-grey: #999999;
  --colour-white: #f8f8f2;
  --colour-shadow: #1a1a1a;
  --colour-orange-light: #cc9900;
  --colour-orange-dark: #806000;
  --colour-background-grey: #313338;
  --colour-background-dark: #2f3137;
}

body {
  max-width: 40em;
  margin: auto;
  font-family: var(--font-sans), serif;
  background-color: var(--colour-background-grey);
  color: var(--colour-white);
  font-size: 1.15em;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans-main), sans-serif;
  color: var(--colour-white);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--colour-orange-dark);
  text-decoration: underline;
}

section {
  margin-bottom: 4em;
}

footer {
  font-family: var(--font-sans), sans;
  font-size: 0.7em;
  font-weight: 700;
  color: var(--colour-grey);
}

hr {
  border-color: var(--colour-grey);
  border-width: 1px;
}

p + ul, p + ol {
    margin-top: -1em; /* this removes the blank vertical space between lists and paragraphs */
}

blockquote {
  color: var(--colour-grey)
  margin-left: 0;
  padding-left: 20px;
  border-left: 3px solid #ccc;
}
