/*  This custom variables file is a mirror of the boostrat/_variables.scss
    file. All custom edits should be done from here.

*/

// --- Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

// --- Colours custom palette
$color-cold-fog:          #2f3137;
$color-pumpkin:           #806000;
$color-dark-shadow:       #1a1a1a;
$color-dirty-snow-white:  #f8f8f2;

// --- Colours override
$dark:                    darken($color-cold-fog, 3%);

// --- Spacing override
$spacer:                  .75rem;

// --- Body custom
$body-max-width:          45em;
$body-margin:             auto;
// --- Body override
$body-color:              $color-dirty-snow-white;
$body-bg:                 $color-cold-fog;

// --- Links override
$link-color:              $body-color;
$link-hover-color:        $color-pumpkin;

// --- Links custom:
$link-body-decoration:    underline;

// --- Typography override
$font-family-sans-serif:  Roboto;

$font-weight-bold:        700 !default;

$headings-font-weight:    $font-weight-bold;
$headings-color:          $body-color;

$hr-border-color:         lighten($body-bg, 25%);

// --- Nav custom
$nav-font:                Work Sans;
$nav-font-weight:         600;

// --- Code override
$code-color:              darken($body-color, 15%);
$pre-color:               darken($body-color, 15%);
// --- Code custom
$code-bg:                 $dark;
