.text-shadow {
  @if $allow-shadow {
    text-shadow:      $text-shadow;
  }
}

img.emoji {
  display: inline !important;
  margin: inherit !important;
  width: inherit !important;
}

.post-content img {
  display:            $post-fig-display;
  margin:             $post-fig-margin;
  width:              $post-fig-width;
}

.post-content .embed-responsive {
  display:            $post-fig-display;
  margin:             $post-fig-margin;
  width:              $post-fig-width;
}
