.text-shadow {
  @if $allow-shadow {
    text-shadow:      $text-shadow;
  }
}

.post-content{

  img.emoji {
    display: inline !important;
    margin: inherit !important;
    width: inherit !important;
  }

  img {
    display:            $post-fig-display;
    margin:             $post-fig-margin;
    width:              $post-fig-width;
  }

  table {
    //  Copied from .table class in bootstrap
    width: $table-width;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacer;
    color: $table-color;
    background-color: $table-bg; // Reset for nesting within parents with `background-color`.

    th,
    td {
      padding: $table-cell-padding;
      vertical-align: top;
      border-top: $table-border-width solid $table-border-color;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
    }

    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }
  }

  .embed-responsive {
    display:            $post-fig-display;
    margin:             $post-fig-margin;
    width:              $post-fig-width;
  }

}
