<!doctype html>

<!-- Cover template from https://getbootstrap.com/docs/4.5/examples/cover/
-->

<html lang="en">
  <head>

    {% include head.html %}
    <title>{{ page.title }}</title>

    <!-- Custom styles for this template -->
    <link href="assets/css/custom/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <header class="masthead mb-auto">

      </header>

      <main role="main" class="inner cover">
        {{ content }}

      </main>

      <footer class="mastfoot mt-auto">

      </footer>
      
    </div>
</body>
</html>
