---
layout: default

---

<link rel="stylesheet" href="/assets/id/{{ page.id }}/style.css">

<div class="jumbotron">
  <!-- container inside jumbotron to keep jumbotron full width-->
  <div class="container">
    <h1 data-toc-skip class="post-title"> {{page.title}} </h1>
    <!--<p><a href="home"> ← Home </a> | {{ page.date | date_to_string }}</p>-->
  </div>
</div>

<div class="container post-content">
  <div class="row row-offcanvas row-offcanvas-right">

    <!-- sidebar, which will move to the top on a small screen -->
    <div class="col-md-3 d-none d-md-block" id="sidebar">
      <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    </div>

    <!-- main content area -->
    <div class="col-xs-12 col-sm-12 col-md-9">
      {{ content }}
    </div>

  </div>
</div>
